* {
    padding: 0px;
    margin: 0px;
  }
  html {
    margin: auto;
    padding: auto;
  }
  .main-container {
    position: fixed;
    background-image: linear-gradient(to right,#f0e7d8,#1b4be7);
    width: 100%;
    height: 6vh;
    
}
.main {
    overflow-y: hidden;
    background-image: url("/Elements/bgdata.jpg");
    position: absolute;
    height: calc(100vh - 6vh); /* Adjusted to account for navbar height */
    top: 6vh; /* Adjusted to align with navbar */
    width: 100%;
}
.data-entry {
    background-color:transparent;
    backdrop-filter: blur(5px);
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    height: 60vh;
    padding: 50px;

  }
.a{
    color: orange;
    font-weight: bolder;
    text-decoration: none;
  }
.navbar-brand{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-variant: small-caps;
  }
      
.nav-link{
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    
  }

label{
  color: aliceblue;
}

.btn{
  border: 1px solid green !important;
  background-color: transparent !important;
  margin: 50px;
  margin-left: 40%;
  transition:  3s ;
  }

.btn:hover{
    border: 2px solid green !important;
    font-variant: small-caps  ;
}


.form-control {
  color: aliceblue !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  border-radius: 0px !important;
  outline: none !important  ; /* Remove outline */
}

.form-control:focus {
    background-color: transparent;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    border-radius: 0px;
    box-shadow: none;
}

option{
  color: black;
}