*{
    margin: 0;
    padding: 0;
}

.a{
    color: royalblue;
}
.navbar-brand{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    font-variant: small-caps;
    
}
.navigation-bar{
    position: fixed;
    width: 100%;
    top: 0px;
    background-image: linear-gradient(to right,#f0e7d8,#1b4be7);
    z-index: 4;
}
.nav-link{
    text-decoration: none; 
    color: black;
    font-weight: bolder;
    margin-left: 15px;
    transition: 4s;
}
.nav-link:hover{
    text-decoration: underline 2px solid black !important;
    text-underline-offset: 4px !important;
}
.nav-item{
    position: relative;
}

a{
    text-decoration: none; 
    color: black;
    font-weight: bolder;

}

.dropdown-menu{
    background-color: royalblue !important;
}

.homepage{
    position: relative;
    top: 100px;
    align:center;   
}
.heading{
    font-size: 50px;
    color: royalblue;
    font-variant: small-caps;
}



.info{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
.imagecontainer{
    height: 80vh;
    width: 50%;
    margin: 100px;
    margin-left: 25%;
}

.heading2{
    font-size: 50px;
    color: royalblue;
    font-variant: small-caps;   
}

.content-list{
    margin-top: 30px;
    margin-left: 5%;
    line-height: 30px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif   ;
}

.list-heading{
    color: orange;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}